.react-daterange-picker {
  display: inline-flex;
  position: relative;
  vertical-align: middle
}
.react-daterange-picker, .react-daterange-picker *, .react-daterange-picker *:before, .react-daterange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-daterange-picker__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid #20a8d8;
  padding: 3px 0;
  border-radius: 5px;
  margin: 0 5px;
}
.react-daterange-picker__inputGroup {
  min-width: calc((4px * 3) + 4.32em + 0.434em);
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  color: #2f353a
}
.react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
  color: #2f353a;
}
.react-daterange-picker__range-divider {
  font-size: 38px;
  line-height: 0;
  font-weight: 300;
  padding-top: 20px;
  background-color: transparent;
  min-width: calc((5px * 4) + 0.434em);
  margin-left: calc(5px * 4);
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.react-daterange-picker__inputGroup__input {
  min-width: .54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button, .react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255,0,0,0.1);
}
.react-daterange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + .54em);
}
.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-daterange-picker__button:enabled {
  cursor: pointer;
}
.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon, .react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
  stroke: #0078d7;
}
.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}
.react-daterange-picker__button svg {
  display: inherit;
}
.react-daterange-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.react-daterange-picker__calendar--closed {
  display: none;
}
.react-daterange-picker__calendar .react-calendar {
  border-width: thin;
}
